<VirtualHost *80>
    ServerName #from Mr Pato

    WSGIDaemonProcess flaskapp user=www-data group=www-data threads=5
    WSGIScriptsAlias / /var/ops-record/app.wsgi

    <Directory /var/www/ops-record/>
        WSGIProcessGroup flaskapp
        WSGIApplicationGroup %{GLOBAL}
        order deny, allow
        Allow from all
    </Directory>

    Alias /static /var/www/ops-record/static
    <Directory /var/www/ops-record/static>
        order deny, allow
        Allow from all
    </Directory>

    ErrorLog /var/www/ops-record/logs/error.log
    CustomLog /var/www/ops-record/logs/access.log combined
</VirtualHost>
