<VirtualHost *80>
    ServerName #from Mr Pato

    WSGIDaemonProcess flaskapp user=www-data group=www-data threads=5
    WSGIScriptsAlias / /var/www/TheForm/app.wsgi

    <Directory /var/www/TheForm/>
        WSGIProcessGroup flaskapp
        WSGIApplicationGroup %{GLOBAL}
        order deny, allow
        Allow from all
    </Directory>

    Alias /static /var/www/TheForm/static
    <Directory /var/www/TheForm/static>
        order deny, allow
        Allow from all
    </Directory>

    ErrorLog /var/www/TheForm/logs/error.log
    CustomLog /var/www/TheForm/logs/access.log combined
</VirtualHost>
